services:
  globalprotect:
    build:
      context: .
      dockerfile: docker/Dockerfile
    image: globalprotect-docker:vnc-autofill
    hostname: globalprotect
    restart: unless-stopped
    tty: true
    shm_size: '512m'
    env_file:
      - path: .env
        required: false
    devices:
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8083:8083
      - 8090:1080
    networks:
      - globalprotect

networks:
  globalprotect:
    external: false
    name: globalprotect
