services:
  globalprotect:
    image: globalprotect-docker
    hostname: globalprotect
    restart: unless-stopped
    tty: true
    env_file:
      - path: .env
        required: false
    devices:
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8083:8083
      - 8080:1080
    networks:
      - globalprotect

networks:
  globalprotect:
    external: false
    name: globalprotect
