version: '2.4'
 
services:
  globalprotect:
    image: globalprotect-docker
    hostname: globalprotect
    restart: unless-stopped
    tty: true
    env_file:
      - path: .env
        required: false
    volumes:
      - ./config/com.yuezk.qt:/root/.config/com.yuezk.qt
    devices:
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 127.0.0.1:8083:8083
      - 127.0.0.1:8085:1080
    networks:
      - globalprotect
 
networks:
  globalprotect:
    external: false
    name: globalprotect
